doctype html
html
  head
    title Welcome to Awesome Answers
    link(type='text/css' rel='stylesheet' href='/css/bootstrap.min.css')
  body
    .container
      .row(style='margin-bottom: 25px; ')
        a(href='/') Home
        |  | 
        a(href='/questions/new') New Question
      .row
        != body