form(action="/questions" method="post" class="form-horizontal")
  .form-group
    label(for='title') Title
    input(type='text' id='title' name='title' class='form-control')
  .form-group
    label(for='description') Description
    textarea(id='description' name='description' class='form-control')
  .form-group
    input(type='submit' class='btn btn-primary')